<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>CRUD</title>
</head>

<body>
    <nav class="navbar bg-primary">
        <div>
            <a href="./" class="navbar-brand container d-flex align-items-center justify-content-center">
                <!-- <img src="/imagenes/logo.jpg" height="50" width="50" class="d-inline-block align-top" alt=""> -->
                <p class="text-white"><strong>DePay</strong></p>
            </a>
        </div>
        <!-- <div class="navbar-nav flex-md-row"> -->
            <a href="./log" class="nav-item nav-link active text-white">Ingresar</a>
            <a href="./create" class="nav-item nav-link active text-white">Agregar Producto</a>
            <a href="./shop" class="nav-item nav-link active text-white">Comprar</a>
            <a href="./carrito" class="nav-item nav-link active text-white">Carrito</a>
            <a href="./users" class="nav-item nav-link active text-white">Usuarios</a>
            <a href="./history" class="nav-item nav-link active text-white">Historial</a>
        <!-- </div> -->
    </nav>
    <div class="container">
